@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
/* body{
  padding: 0 8rem;
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btnR{
  padding: .5rem .9rem;
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: .3rem;
  color: #fff !important;
  background: var(--secondary-green);
  width: fit-content;
}

ul{
  list-style-type: none;
}
:root{
  --primary-color:#5172ED;
  --secondary-green: #31C436;
}
input{
  border: none;
  outline: none;
}
div::-webkit-scrollbar{
  display: none;
}
.MNav{
  transition:all .3s ;
}
img{
  object-fit: cover;
}
@media (max-width: 768px) { 
  .c{
    padding: .8rem 2rem;
  }
}
@media (min-width: 768px) { 
  .c{
    padding: .8rem 5rem;
  }
}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

}
@media (min-width: 1536px) {

}